.form {
  background-color: white;
  font-weight: 600;
}
.input_field {
  min-height: 80%;
  padding: 20px;
}

.address_wrapper {
  display: flex;
}
.address {
  width: 50%;
}

.state_city {
  display: flex;
  justify-content: space-around;
  height: 80px;
}
.email {
  width: 50%;
}

.time {
  width: 20%;
}
