.form {
  background-color: white;
  font-weight: 600;
}
.input_field {
  min-height: 80%;
  padding: 20px;
}

.address_wrapper {
  display: flex;
}
.address {
  width: 50%;
}

.bottom {
}

.state_city {
  display: flex;
  justify-content: space-around;
}
.email {
  width: 50%;
}
.city {
  width: 33%;
}

.select_city {
  width: 33%;
}

.postal {
  width: 33%;
}

.time {
  width: 20%;
}

.button_back {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
  button {
    margin: 10px;
    background-color: white;
    padding: 3px;
  }
}
.button_continue {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  button {
    background-color: rgb(218, 215, 215);
    padding: 3px;
    color: white;
    border: 0px;
    font-weight: 600;
  }
}
