.input_field {
  padding: 20px;
  font-weight: 600;
}

.mandatory_title_name {
  height: 20px;
  font-size: x-small;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  span {
    color: orange;
  }
}

.select_input_wrapper {
  width: 50%;
}

.bottom {
  height: 50%;
  display: flex;
  align-items: center;
}

.first_last_wrapper {
  display: flex;
  height: 70px;
}

.input_name_wrapper {
  width: 100%;
}

.input_last_name_wrapper {
  width: 50%;
}

.input_date_wrapper {
  width: 50%;
}
