.container {
  height: 10vh;
  background-color: rgba(46, 46, 48);
  padding: 10px;
  padding-left: 130px;
  display: flex;
  @media (max-width: 768px) {
    padding-left: 80px;
  }
  @media (max-width: 480px) {
    padding-left: 40px;
  }
}
